.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}

.title-c{
  padding: 5px;
  background: rgba(0,0,0,.6);
  margin: -1px;
  box-shadow: 0px 0px 1px rgba(0,0,0,.5);

}

.demo-card-header-pic .card-header {
    height: 11pc;
    background-size: cover;
    background-position: center;
  }
  .popover{
    width: 200px;
  }
  .menu{
    padding-left:10px;
  }
 .picker-modal{
  box-shadow: 0px 0px 15px rgb(0,0,0);
  position: absolute;


  top: 100%

 }
 .c1{margin-top: -100px;} .s1{margin-top: -40px;margin-bottom: 4px;} .swiper-custom{max-height: 250px;} .accordion-item-content{text-align: justify;} .navbar{box-shadow: 0px 0px 20px rgba(0,0,0,.9)}

 .anuncio{
  background: #fefefe;
  width: 100%;
  height: 130px;
  z-index: 9900;

  }
  .anuncio2{
  background: #fefefe;
  width: 100%;
  height: auto;
  z-index: 1000;

  }
iframe{
  border: transparent;
  border-radius: 7px;
}
.statusbar-overlay {
    background: #607d8b;
}
.panel{color: #fff; background-color: #000; opacity: .9}
.dk{background-color: #191C1F;}
.material-icons{
  color:  #f44336;
  padding-left: 14px;
  font-size: 100px;
  
}
.black{
  color: #2c3e50;
  text-align: center;
      }
.theme-lightpink{
  background: #ff4d7c;
}
.theme-aqua{
  background-color: #00a3b6;

}

@media (min-width:600px) {
  .demo-card-header-pic .card-header {
    height: 19pc;
    background-size: cover;
    background-position: center;
  }
}
